{% extends 'base.html' %}


{% block content %}
  <a class="btn btn-success" style="border-radius: 50%;">{{ post.user }}</a>
    <div id="carouselExampleControls" class="carousel slide card text-bg-dark" data-bs-ride="carousel" style="margin-top: 30px;">
        <div class="carousel-inner">
            {% for i in images %}
                {% if i.url != None %}
                    <div class="carousel-item active">
                        <center><img src="{{ i.url }}" alt="" style="width: 40%; height: 350px; margin-top: 15px;">
                        </center>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="card text-bg-dark mb-3" style="margin-top: 30px;">
        <div class="card-header">Caption</div>
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.caption }}</p>
            <small>{{ post.created }}</small>
            {% if request.user.is_superuser or request.user.id == post.user.id %}
            <p style="margin-top: 30px;"><a href="{% url 'post:delete-post' post.id %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'post:update-post' post.id %}" class="btn btn-primary">Update</a></p>
            {% endif %}
        </div>

{% endblock %}